@font-face {
  font-family: FiraSans;
  src: url(fonts/FiraSans-Regular.ttf); }
body {
  background-color: #f4f4f4;
  min-width: 922px;
  color: #666;
  font-family: FiraSans; }

.main-header {
  background-color: white;
  height: 172px;
  box-shadow: 0 32px 74px rgba(0, 0, 0, 0.06); }
  .main-header .main-header__container {
    height: 218px; }
  .main-header .main-header__container:after {
    background: url(../img/bottom.png) 50% 0px no-repeat;
    content: "";
    width: 247px;
    height: 62px;
    display: block;
    position: absolute;
    top: 171px;
    left: 0;
    right: 0;
    margin: 0 auto; }
  .main-header .main-header__nav {
    text-align: center;
    margin-top: 2%; }
    .main-header .main-header__nav .col-md-2--zindexed {
      z-index: 2; }
    .main-header .main-header__nav .main-header__company-logo {
      width: 138px;
      height: 160px;
      margin-right: 3%;
      margin-top: 16%; }
    .main-header .main-header__nav .logo-wrapper {
      text-align: center; }
    .main-header .main-header__nav .main-header__first-nav-ul li,
    .main-header .main-header__nav .main-header__second-nav-ul li {
      display: inline; }
    .main-header .main-header__nav li.main-header__first-nav-li,
    .main-header .main-header__nav li.main-header__second-nav-li {
      margin-right: 67px;
      color: #333;
      font-family: FiraSans;
      font-size: 15px;
      font-weight: 300;
      line-height: 13;
      text-transform: uppercase; }

.header-pattern {
  margin-top: 0%;
  text-align: center;
  background: url(../img/pattern.png) no-repeat 50% 0;
  background-size: cover;
  z-index: -1;
  text-align: center;
  height: 200px; }
  .header-pattern .header-pattern__buttons {
    color: #666;
    font-family: FiraSans;
    font-size: 22px;
    font-weight: 300;
    line-height: 6px;
    text-transform: uppercase; }
  .header-pattern .pattern-buttons {
    line-height: 38px; }
  .header-pattern .pattern-buttons.active {
    width: 50%;
    margin-left: 24%;
    height: 39px;
    background-color: #6c6;
    background-image: -webkit-linear-gradient(bottom, rgba(51, 153, 51, 0.04) 0%, transparent 100%);
    background-image: linear-gradient(to top, rgba(51, 153, 51, 0.04) 0%, transparent 100%);
    border-radius: 19px;
    box-shadow: 0 9px 29px rgba(0, 0, 0, 0.14);
    line-height: 38px;
    color: white; }
  .header-pattern .row--margined {
    margin-top: 11%; }

main .main__slider-item--alex {
  background-color: white;
  border-radius: 4px;
  vertical-align: middle; }
  main .main__slider-item--alex .item--alex__header-name {
    color: #6c6;
    font-size: 18px;
    font-weight: 400; }
  main .main__slider-item--alex .item--alex__header {
    position: relative;
    top: 43%;
    left: 0%;
    text-align: center;
    font-size: 26px;
    display: none; }
  main .main__slider-item--alex .slider-item--alex__img {
    height: 380px; }
main .main__slider-item--girl {
  margin-right: -2%;
  margin-left: -2%; }
main .slick-current {
  width: 860px !important;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.04);
  height: 400px; }
main .slick-current.main__slider-item--alex .slider-item--alex__img {
  height: 400px; }
main .slick-current.main__slider-item--alex .item--alex__header {
  display: block; }
main .black-overlay {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -10000; }
main .slick-prev {
  left: 16%;
  z-index: 1; }
main article {
  width: 820px;
  height: 465px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 6px 42px rgba(0, 0, 0, 0.12);
  margin-bottom: 25px; }
  main article .article__heading {
    width: 820px;
    height: 130px;
    background-color: black;
    border-radius: 4px 4px 0 0;
    background-image: url(../img/article-girl.jpg);
    box-shadow: 0 0 0 128px rgba(0, 0, 0, 0.33) inset;
    text-align: center; }
    main article .article__heading .article__heading-itself {
      color: white;
      font-size: 24px;
      font-weight: 300;
      line-height: 26px;
      text-transform: uppercase;
      padding-top: 3%; }
    main article .article__heading .article__author {
      color: #6c6;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px; }
    main article .article__heading .article__date {
      color: white;
      font-size: 13px;
      font-weight: 400;
      line-height: 36px; }
  main article .article_body-text {
    padding: 29px 40px 0 40px;
    text-align: justify; }
    main article .article_body-text .article_body-text {
      color: #333;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px; }
    main article .article_body-text .article_body-text__red-letter {
      font-size: 52px;
      width: 43px;
      color: #6c6;
      height: 48px; }
  main article .article__learn-more {
    color: #6c6;
    font-family: FiraSans;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-align: center; }
  main article .article__tags {
    text-align: center;
    margin-top: 23px; }
  main article .article-tag__itself {
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    line-height: 6px;
    text-transform: uppercase;
    margin-left: 10px; }
main .under-article__nav {
  width: 820px; }
  main .under-article__nav .more_storyes-button {
    height: 44px;
    background-color: #6c6;
    background-image: linear-gradient(to top, rgba(51, 153, 51, 0.04) 0%, transparent 100%);
    border-radius: 19px;
    box-shadow: 0 9px 29px rgba(0, 0, 0, 0.14);
    width: 191px;
    color: white;
    font-family: FiraSans;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 21px 12px 22px;
    width: 220px;
    left: 37%;
    position: relative; }
  main .under-article__nav .page-numbers {
    text-align: center;
    margin-top: 31px; }
    main .under-article__nav .page-numbers .page-numbers_itself {
      font-size: 16px;
      line-height: 25px;
      text-transform: uppercase;
      display: inline-block;
      margin-left: 2%; }
    main .under-article__nav .page-numbers .page-numbers_itself.active {
      width: 22px;
      height: 22px;
      background-color: #6c6;
      background-image: linear-gradient(to top, rgba(51, 153, 51, 0.04) 0%, transparent 100%);
      border-radius: 11px;
      box-shadow: 0 9px 29px rgba(0, 0, 0, 0.14);
      color: white; }
main aside .aside-people {
  margin-top: 29px; }
  main aside .aside-people .aside_people-heading {
    color: black;
    font-family: FiraSans;
    font-size: 17px;
    font-weight: 300;
    line-height: 6px; }
