.main-header {
	
	background-color: white;
    height: 172px;
    box-shadow: 0 32px 74px rgba(0, 0, 0, 0.06);


	.main-header__container {
		
    	height: 218px;
	}



	.main-header__container:after {
	    background: url(../img/bottom.png) 50% 0px no-repeat;
	    content: "";
	    width: 247px;
	    height: 62px;
	    display: block;
	    position: absolute;
	    top: 171px;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	}

	.main-header__nav {
		text-align: center;
		margin-top: 15px;

		.col-md-2--zindexed {
			z-index: 2;
		}

		.main-header__company-logo {
			width: 138px;
			height: 160px;
		}

		.logo-wrapper {
			text-align: center;	
		}

		.main-header__first-nav-ul li,
		.main-header__second-nav-ul li {
			display: inline;
		}

		li.main-header__first-nav-li,
		li.main-header__second-nav-li {
			margin-right: 67px;
			color: #333;
			font-family: FiraSans;
			font-size: 15px;
			font-weight: 300;
			line-height: 13;
			text-transform: uppercase;
		
		}
	}

}

.header-pattern { 
		overflow: hidden;
		margin-top: 0%;
	    text-align: center;
	    background: url(../img/pattern.png) no-repeat 50% 0;
	    background-size: cover;
	    z-index: -1;
	    text-align: center;
	    height: 200px;

    .header-pattern__buttons {
    	color: #fff;
		font-family: FiraSans;
		font-size: 40px;
		font-weight: 300;
		line-height: 6px;
		text-transform: uppercase;
		white-space: nowrap;
    }

    .mobile-row {
    	position: relative;
    	display: inline-block;
    	white-space: nowrap;
    	overflow: visible;
    	margin-top: 80px;
    	.active {
    		margin-left: -28px;	
    	}
    	div {
    		display: inline-block;
    	}
    	.inactive-left {
    		position: absolute;
    		left: -405px;
    		background-color: #c1c1c1;
			height: 70px;
			border-radius: 28px/34px;
			padding-top: 21px;
			padding-right: 58px;
			padding-left: 58px;
    	}
    	.inactive-right {
    		position: absolute;
    		right: -378px;
    		background-color: #c1c1c1;
			height: 70px;
			border-radius: 28px/34px;
			padding-top: 21px;
			padding-left: 58px;
			padding-right: 58px;
    	}
    }
    .pattern-buttons {
		line-height: 38px;
    }

    .pattern-buttons.active {
    	width: 135%;
		height: 70px;
		background-color: #6c6;
		background-image: -webkit-linear-gradient(bottom, rgba(51, 153, 51, 0.04) 0%, transparent 100%);
		background-image: linear-gradient(to top, rgba(51, 153, 51, 0.04) 0%, transparent 100%);
		border-radius: 28px/34px;
		box-shadow: 0 9px 29px rgba(0, 0, 0, 0.14);
		line-height: 38px;
		color: white;
		padding-top: 21px;
	}

	

    .row--margined {margin-top:76px;}
}

.toggle-button {
	display:inline-block;
	padding: 18px 23px;
	border: 2px solid #d6d6d6;
	border-radius: 24px/28px;
	line-height: 7.5px;
	background: none;
	margin-top: 33px;
	span {
		display: inline-block;
		background-color: #66cc66;
		width: 39px;
		height: 4px;
		border-radius: 2px;
	}
}

// modal window

.modalDialog {
	.form-group {
		margin-left: 40px;
		margin-right: 40px;
	}
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(92,173,92,0.9);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
	height: 100vh;
	overflow: auto;
}



.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	position: relative;
}

.close {
	background-image: url(../img/close.png);
	background-position: center top;
	position: absolute;
	left: 42px;
	top: 48px;
	width: 88px;
	height: 56px;
	text-decoration: none;
	opacity: 1;
	border: 1.5px solid #4c904c;
	border-radius: 24px/28.5px;
}

.search-form {
	margin: 131px auto;
	margin-bottom: 15px;
	position: relative;
		&:before {
			content:"";
			display: block;
			width: 78px;
			height: 77px;
			position: absolute;
			background: url(../img/loup.png);
			top: 8px;
			left: 0;	
		}
		&:after {
			content:"";
			display: block;
			width: 61px;
			height: 51px;
			position: absolute;
			background: url(../img/arrow.png);
			top: 15px;
			right: 17px;
		}
		input {
			height: 77px;
			background: none;
			border: 2px solid #8bc48a;
			border-radius: 34px/40px;
			&:focus {
				border-color: #7bad79;
		}
	}
}

.modal-nav {
	font-size: 44px;
	ul {
		padding-left: 0;
	}
	li {
	padding-top: 38px;
	padding-bottom: 38px;
	&:hover {
		background-color: #3a7b3a;
	}
	list-style: none;
		a {
			color: #fff;
			&:hover {
				text-decoration: none;
				color: #fff;
			}
		}
	}
}


